
*.fits
Object types CSV.csv
graph.png
Fashion MNIST identification.ipynb
Object types.xlsx
Project explanation.docx
CORNISH_FITS_I.tar.gz
*.thmx
*.png
Project log_files/filelist.xml
Project log_files/colorschememapping.xml
*.htm
